h1 {
  --at-apply: text-neutral-950 font-bold text-[1.75rem];
}

h1 + :is(p, ul, ol) {
  --at-apply: mt-4;
}

:is(p, ul, ol) {
  --at-apply: text-neutral-700;
}

ul:not(:where(.not-content, .not-content *)) {
  --at-apply: list-disc ml-6;
}

ol:not(:where(.not-content, .not-content *)) {
  --at-apply: list-decimal ml-6;
}

a:not(:where(footer, footer *)) {
  --at-apply: font-semibold border-b border-b-neutral-200 transition-colors duration-300 ease-out hover:border-b-neutral-400
}

.dark h1 {
  --at-apply: text-neutral-200;
}

.dark :is(p, ul, ol) {
  --at-apply: text-neutral-400;
}

.dark a:not(:where(footer, footer *)) {
  --at-apply: border-b-neutral-700 hover:border-b-neutral-500;
}

/* Because the `presetIcons` does not works, https: //github.com/slidevjs/slidev/issues/2054 */
.i-custom-maiaspace {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 29 32'%3E%3Cpath fill='%23139633' d='M26.196 2.475 25.416 0l-.78 2.475-2.458.785 2.459.785.78 2.475.78-2.475 2.458-.785-2.459-.785Zm2.589 14.344c-1.395 1.543-4.86 3.07-7.705 3.095-2.625.02-7.248-.444-9.853 2.81 0 0 7.009-9.672 7.222-9.95.144-.189.285-.37.415-.538l.253-.323c1.283-1.622 3.277-2.795 3.277-2.795s-.798-.142-1.791-.147c-.112 0-.227 0-.344.005a7.16 7.16 0 0 0-.331.016h-.024c-.12.008-.24.02-.36.034a5.688 5.688 0 0 0-.891.168c-.151.042-.297.09-.438.147h-.003c-.096.04-.193.082-.287.124l-.148.07c-.042.021-.086.04-.128.06-.506.248-.999.52-1.554.723h-.005c-.107.039-.22.076-.331.107-.749.218-1.62.281-2.761-.034 0 0 .777 1.79 2.156 1.89a3.677 3.677 0 0 1-4.98 1.131 3.68 3.68 0 0 1-1.354-1.443 7.37 7.37 0 0 1-.776-3.302 7.366 7.366 0 0 1 2.68-5.696 14.352 14.352 0 0 0-6.758 4.034c-1.601 1.874-1.906 4.785-.884 7.386 0 0-1.617-1.026-1.81-3.362A14.492 14.492 0 0 0 0 16.982c0 8.003 6.445 14.49 14.395 14.49 5.129 0 9.629-2.703 12.179-6.768-2.362.716-3.903.393-3.903.393 5.293-2.034 5.744-4.78 5.97-6.055.097-.674.149-1.362.149-2.063 0-.055-.003-.11-.005-.163v.003Z' /%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-color: transparent;
}
.i-custom-takima {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 314 313'%3E%3Cpath fill='%23cd1c68' d='M242 20c28.034 22.723 38.225 54.833 51.252 87.204q2.951 7.323 5.978 14.612c13.208 31.862 20.573 62.65 7.586 96.02-3.45 8.245-7.914 17.411-13.816 24.164h-2l.048-3.016c.848-59.122-11.01-114.72-53.28-158.549-19.155-19.504-41.382-35.861-69.823-36.525-15.18.346-28.947 6.28-39.832 16.844-13.302 14.138-16.95 30.876-16.46 49.82.733 15.1 6.45 29.27 16.917 40.23 8.568 7.742 17.494 10.729 28.953 10.505 9.75-.866 18.74-4.011 25.477-11.309 5.028-6.826 6.184-13.68 5-22-2.116-8.09-6.016-13.344-13-18-6.197-2.066-12.875-1.798-18.937.625-4.04 2.063-6.066 4.222-8.063 8.375-.831 2.662-1.433 5.261-2 8h-2c-5.61-10.585-10.267-20.295-7-32.437 3.194-8.603 9.544-13.946 17.703-17.688 10.231-3.898 20.4-1.946 30.297 2.125 20.313 10.254 33.946 29.713 41.188 50.875 4.03 14.142 6.337 29.43 6.812 44.125l.121 2.844c.667 29.191-9.528 56.723-28.121 79.156l-2.031 2.602c-18.205 23.027-45.148 48.74-75.559 53.832-24.234.04-47.617-12.195-64.715-28.727C48 268.947 48 268.947 48 264l2.938.105c25.515.637 49.17-7.544 68.062-25.105 8.35-8.992 12.412-18.54 12.277-30.766-.624-7.276-3.25-14.303-8.304-19.668-7.8-6.193-17.031-9.501-26.973-8.566-7.782 1.44-13.707 4.241-18.281 10.852-2.643 4.738-4.11 9.696-3.719 15.148 1.307 4.444 3.28 6.548 7.188 9 5.614 1.473 10.351.82 15.812-1 1.354-4.063 1.678-7.756 1-12-1.427-2.454-2.941-3.993-5-6 4.628-2.41 7.94-3.567 13.145-2.64 4.038 1.394 6.084 4.649 8.605 7.89 2.363 5.198 2.985 10.398 1.188 15.875-4.123 9.275-11.703 14.219-20.817 18.102-4.639 1.754-9.156 3.36-14.121 3.773l-2.102.191c-17.537.842-35.779-4.46-48.962-16.15-3.102-3.27-4.586-6.863-6.19-11.025l-1.059-2.592a767 767 0 0 1-3.25-8.174q-1.08-2.675-2.17-5.348c-3.516-8.687-6.89-17.429-10.173-26.207l-.864-2.284c-9.017-24.433-7.109-52.277 3.137-76.013C13.633 82.518 18.68 74.547 25 67l1.762-2.203C39.73 49.245 57.837 40.48 76.312 33.25q3.604-1.429 7.205-2.865 2.572-1.024 5.147-2.046c7.056-2.807 14.074-5.702 21.086-8.616q4.917-2.036 9.835-4.071 3.19-1.324 6.377-2.659C164.708-3.225 206.84-6.929 242 20M75.625 78.063c-17.693 17.692-31.036 39.573-31.812 65.187.05 5.671 1.134 11.193 2.187 16.75h2a90 90 0 0 0 3.063-4.625c5.084-7.426 11.363-11.52 20.03-13.852C77.01 140.458 83.004 140.232 89 140c-1.335-3.495-2.873-6.85-4.513-10.212-7.246-15.001-11.024-31.349-5.612-47.726Q79.887 79.51 81 77q1.005-2.498 2-5c-2.505 0-5.575 4.282-7.375 6.063M195.563 179.75c-7.866 6.367-16.184 9.402-26.301 9.348l-3.233-.01-3.341-.025-3.4-.014A2576 2576 0 0 1 151 189a76 76 0 0 0 4.438 9.438c7.262 14.502 6.7 30.089 3.218 45.48-.76 3.046-.76 3.046-.656 6.082 5.298-1.496 8.482-4.944 12.25-8.75l2.012-2.03c5.992-6.208 10.553-12.702 14.738-20.22l1.887-3.32c6.464-12.088 11.66-25.876 12.113-39.68-2.03 0-4.001 2.522-5.437 3.75' /%3E%3Cpath fill='%23cd1c68' d='M262 168c2.435 2.435 2.559 3.796 3.219 7.145l.634 3.207.647 3.46.669 3.563c3.171 17.445 4.532 34.779 3.93 52.51q-.1 3.184-.128 6.37c-.26 17.493-.26 17.493-4.46 22.53-3.884 3.114-8.273 4.771-12.957 6.335-2.737.943-5.363 2.047-8.019 3.2-3.473 1.488-6.947 2.964-10.465 4.344l-2.163.858C231 282 231 282 228 281l1.836-2.762C251.928 244.358 260.65 208.002 262 168' /%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-color: transparent;
}
