
/** Theme-aware Shiki mapping */

.shiki {
  background-color: var(--slidev-code-background);
}

html[data-theme='default'] .shiki span {
  color: var(--shiki-default);
}

html[data-theme='brutalism'] pre.shiki {
  background-color: white;
  border-radius: 0!important;
}
html[data-theme='brutalism'] .shiki span {
  color: var(--shiki-brutalism);
}

html[data-theme='flowers'] .shiki span {
  color: var(--shiki-flowers);
}

/** Code Blocks */

.slidev-code.shiki {
  --at-apply: p-4!;
  margin: 0;
}

.slidev-code code {
  background: transparent !important;
}


.slidev-code-block-title {
  --at-apply: divide-y;
  margin: 0;
}

.slidev-code-block-title + .slidev-code-block-title {
  --at-apply: mt-8;
}

.slidev-code-block-title-bar {
  --at-apply: px-4 py-2 flex items-center gap-2;
}

.slidev-code-block-title-icon {
  --at-apply: inline-block size-3;
}

.slidev-code-block-title-text {
  --at-apply: text-xs;
}
